@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.top-text span{
  font-weight: bold;
}

.link, .link-item{
  text-decoration: none;

  color: white ;
}

.link:hover{
  text-decoration: none;
  color: white;
}

.link-item:hover{
  text-decoration: none;
  color: #808080;
}

